<% if (admin.type === "admin") { %>
<div class="admin__dashboard">
    <span class="admin__navigate"><b class="admin__navigate-to">General</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href='/admin/general' class="admin__link">Overview</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Order</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="#" class="admin__link">Buea</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Clients</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="#" class="admin__link">Buea</a></li>
            <li class="admin__goto"><a href="#" class="admin__link">Bamenda</a></li>
            <li class="admin__goto"><a href="#" class="admin__link">Limbe</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">View Pantry</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="/admin/cakes" class="admin__link">Birthday Cakes</a></li>
            <li class="admin__goto"><a href="/admin/cookies" class="admin__link">Cookies</a></li>
            <li class="admin__goto"><a href="/admin/pans" class="admin__link">Pancakes</a></li>
            <li class="admin__goto"><a href="/admin/weds" class="admin__link">Wedding Cakes</a></li>
            <li class="admin__goto"><a href="/admin/dons" class="admin__link">Dougnuts</a></li>
            <li class="admin__goto"><a href="/admin/cups" class="admin__link">Cup Cakes</a></li>
            <li class="admin__goto"><a href="/admin/vals" class="admin__link">Valentine choice</a></li>
        </ul>
    </div>
    <span class="admin__navigate"><b class="admin__navigate-to">Add to Pantry</b></span>
    <div class="admin__options admin__options--hidden">
        <ul class="admin__list">
            <li class="admin__goto"><a href="/admin/add-bds" class="admin__link">Birthday Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-cookies" class="admin__link">Cookies</a></li>
            <li class="admin__goto"><a href="/admin/add-pans" class="admin__link">Pancakes</a></li>
            <li class="admin__goto"><a href="/admin/add-weds" class="admin__link">Wedding Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-dons" class="admin__link">Dougnuts</a></li>
            <li class="admin__goto"><a href="/admin/add-cups" class="admin__link">Cup Cakes</a></li>
            <li class="admin__goto"><a href="/admin/add-vals" class="admin__link">Valentine choice</a></li>
        </ul>
    </div>
</div>
<% } else { %>
    <div class="panel__user">
        <ul class="panel-side-nav">
            <li class="panel-side-nav__item  <%= path === '/admin/general' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/create" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Create Admin</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === '/user' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/admins" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Bakers</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === '/user' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/users   " class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Users</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === '/user' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/all-orders" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Orders</span>
                </a>
            </li>
            <li class="panel-side-nav__item">
                <form action="/admin/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="panel-side-nav__link"><span class="panel-side-nav__icon logout_icon fas fa-power-off"></span>Logout</button>
                </form>
            </li>
        </ul>
        <div class="power">
           <span>Copyrighted &copy;<a href="#" class="dev">JB Inc.</a>All Rights reserved</span> 
        </div>
</div>
    <% } %>