<% if (admin.type === "admin") { %>
<div class="panel__user">
    <ul class="panel-side-nav">
        <li class="panel-side-nav__item  <%= path === 'admin/admins' ? 'panel-side-nav__item--active' : '' %>">
            <a href="/admin/general" class="panel-side-nav__link">
                <span class="panel-side-nav__icon fas fa-tachometer-alt"></span>  <span>Dasboard</span>
            </a>
        </li>
        <li class="panel-side-nav__item  <%= path === 'admin/orders' ? 'panel-side-nav__item--active' : '' %>">
            <a href="/admin/orders" class="panel-side-nav__link">
                <span class="panel-side-nav__icon fas fa-stream"></span>  <span>Orders</span>
            </a>
        </li>
        <li class="panel-side-nav__item  <%= path === 'admin/create' ? 'panel-side-nav__item--active' : '' %>">
            <a href="/admin/addpastry" class="panel-side-nav__link">
                <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Add Pastry</span>
            </a>
        </li>
        <input type="checkbox" name="pastries" id="pastries" style="display: none;" class="add__category">
        <li class="panel-side-nav__item">
            <label for="pastries" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-eye"></span>View Pantry</label>
        </li>
            <div class="add__category--show">
                <li class="panel-side-nav__item-2"><a href="/admin/cakes" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Birthday Cakes</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/cookies" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Cookies</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/pans" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Pancakes</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/weds" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Wedding Cakes</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/dons" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Dougnuts</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/cups" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Cup Cakes</a></li>
                <li class="panel-side-nav__item-2"><a href="/admin/vals" class="panel-side-nav__link"><span class="panel-side-nav__icon fas fa-birthday-cake"></span> Valentine choice</a></li>
            </div>
        <li class="panel-side-nav__item">
            <form action="/admin/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="panel-side-nav__link"><span class="panel-side-nav__icon logout_icon fas fa-power-off"></span>Logout</button>
            </form>
        </li>        
    </ul>
    <div class="power">
       <span>Copyrighted &copy;<a href="#" class="dev">JB Inc.</a>All Rights reserved</span> 
    </div>
</div>
<% } else { %>
    <div class="panel__user">
        <ul class="panel-side-nav">
            <li class="panel-side-nav__item  <%= path === 'admin/create' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/create" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Create Admin</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === 'admin/admins' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/admins" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Bakers</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === 'admin/users' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/users   " class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Users</span>
                </a>
            </li>
            <li class="panel-side-nav__item  <%= path === 'admin/orders' ? 'panel-side-nav__item--active' : '' %>">
                <a href="/admin/all-orders" class="panel-side-nav__link">
                    <span class="panel-side-nav__icon fas fa-plus"></span>  <span>Orders</span>
                </a>
            </li>
            <li class="panel-side-nav__item">
                <form action="/admin/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="panel-side-nav__link"><span class="panel-side-nav__icon logout_icon fas fa-power-off"></span>Logout</button>
                </form>
            </li>
        </ul>
        <div class="power">
           <span>Copyrighted &copy;<a href="#" class="dev">JB Inc.</a>All Rights reserved</span> 
        </div>
</div>
    <% } %>