<div class="admin__data">
    <% if (path === '/admin/general') { %>
    <h2 class="title-lil-1">
        <% if (success) { %>
        <div class="flash" style="margin:2rem 20rem"><%= success %></div>
        <% } %></h2>
    <br>
    <%- include('admin-general.ejs') %>
    <% } else if (path === 'admin/orders') { %>
    <%- include('admin-orders.ejs') %>
    <% } else if (path === '/admin/client-order') { %>
    <%- include('admin-user-info.ejs') %>
    <% } else if (path === '/admin/view-info') { %>
    <%- include('admin-user-info.ejs') %>
    <% } else if (path === '/admin/user-orders') { %>
    <%- include('admin-user-orders.ejs') %>
    <% } else if (path === '/admin/pastry-detail') { %>
    <%- include('admin-product-info.ejs') %>
    <% } else if (path === 'admin/create') { %>
    <%- include('admin-create.ejs') %>
    <% } else if (path === 'admin/users') { %>
    <%- include('admin-users.ejs') %>
    <% } else if (path === 'admin/admins') { %>
    <%- include('admin-admins.ejs') %>
    <% } else { %>
    <%- include('admin-updatePastry.ejs') %>
    <% } %>
</div>